[flake8]

ignore = E121,
    E126,
    E127,
    E128,
    E203,
    E225,
    E226,
    E231,
    E241,
    E251,
    E261,
    E265,
    E302,
    E303,
    E305,
    E402,
    E501,
    E741,
    W291,
    W292,
    W293,
    W391,
    W503,
    W504,
    F403,
    B007,
    B950,
    SC200,
    B008,
    D101,
    D107,
    A003,
    D106,
    N805,
exclude =
    *\models\__init__.py,
    *\migrations,
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env
max-complexity = 10
max_line_length = 120
per-file-ignores = src/app/models/__init__.py:F401
